/* 
Auth 
*/

.auth-container {
    max-width: 500px;
    margin: 0 auto;
    padding: var(--spacing-xl);
}

.auth-form {
    background: var(--bs-body-bg);
    padding: var(--spacing-xl);
    border-radius: var(--border-radius);
}

.auth-heading {
    margin-bottom: var(--spacing-lg);
    text-align: center;
}

.auth-link {
    display: block;
    text-align: center;
    margin-top: var(--spacing-md);
}
