{#Add to cart button partial template.#} {% if swap_oob is not defined %}{% set
swap_oob = False %}{% endif %} {% if track_id is not defined %}{% set track_id =
track.track_id %}{% endif %}

<div
    id="add-btn-{{ track_id }}"
    {%
    if
    swap_oob
    %}hx-swap-oob="true"
    {%
    endif
    %}
>
    {% if is_in_cart %}
    <button class="btn btn-secondary btn-sm" disabled>
        <i class="bi bi-check-circle"></i> Added to Cart
    </button>
    {% else %}
    <button
        hx-post="/cart/add/{{ track_id }}"
        hx-target="#cartModalBody"
        hx-swap="innerHTML"
        class="btn btn-primary btn-sm"
    >
        <i class="bi bi-cart-plus"></i> Add to Cart
    </button>
    {% endif %}
</div>
