<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Track Shop - Buy and discover music tracks online." />
        <title>Track Shop</title>
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/slate/bootstrap.min.css"
              rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
              rel="stylesheet" />
        <link href="{{ url_for('static', path='/css/styles.css') }}"
              rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body hx-trigger="load, cartUpdated from:body"
          hx-get="/cart/count"
          hx-target="#cart-count"
          hx-on:click="const searchContainer = document.querySelector('.search-container'); const searchResults = document.getElementById('search-results'); if (searchContainer && searchResults && !searchContainer.contains(event.target)) { searchResults.innerHTML = ''; }">
        <!-- Navigation Bar-->
        {% include "nav_bar.html" %}
        <!-- Cart Modal -->
        {% include "cart_modal.html" %}
        <!-- Main Page Contents-->
        <section class="py-2">
            <div class="container px-4 px-lg-5">
                {% block content %}
                {% endblock content %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center">Copyright 2025</p>
            </div>
        </footer>
    </body>
</html>
